// Directory to watch. With double \\ instead of one!!!!
WATCH_DIR=C:\\Program Files (x86)\\

// channel/group username
CHAT=

// separated with `;` regex patterns: *.zip;*.rar by default
PATTERN=

LICENSE_KEY=
